/* Existing styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
    text-align: center;
    color: #343a40;
}

#map {
    height: 500px;
    width: 100%;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Additional styles for team member profiles */
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.member {
    text-align: center;
    margin: 15px;
    flex-basis: 20%;  /* Adjust based on your preferred width */
}

.member img {
    width: 150px;  /* Ensures all images are the same size */
    height: 150px;
    border-radius: 50%; /* Makes images circular */
    object-fit: cover; /* Ensures images cover the area properly without distortion */
    border: 3px solid #06386d; 
}

.member h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color:  #06386d; 
}

.member p {
    color: #666;
    font-size: 0.9em;
}
