{% extends "base.html" %}

{% block title %}About - Chicago Crime Prediction{% endblock %}

{% block content %}
<h1>About</h1>
<p>This application predicts crime in Chicago based on user location. It is developed as part of a research project by a team of dedicated students from the University of Illinois at Urbana-Champaign.</p>

<div class="team-members">
    <div class="member">
        <img src="{{ url_for('static', filename='images/Celina.jpg') }}" alt="Celina Anwar">
        <h3>Celina Anwar</h3>
        <p>Major: Computer Science</p>
    </div>
    <div class="member">
        <img src="{{ url_for('static', filename='images/Sonika.jpg') }}" alt="Sonika Tamilarasan">
        <h3>Sonika Tamilarasan</h3>
        <p>Major: Computer Science + Economics</p>
    </div>
    <div class="member">
        <img src="{{ url_for('static', filename='images/Sahana.jpg') }}" alt="Sahana Hariharan">
        <h3>Sahana Hariharan</h3>
        <p>Major: Computer Science + Statistics</p>
    </div>
    <div class="member">
        <img src="{{ url_for('static', filename='images/Sumaiya.png') }}" alt="Sumaiya Farook">
        <h3>Sumaiya Farook</h3>
        <p>Major: Computer Science + Crop Science</p>
    </div>
</div>

<p>This project is a component of the altREU program and is conducted under the guidance of the Teuscher Lab during the summer of 2024. The goal is to compare the effectiveness of a Random Forest model and an LSTM model in predicting the probability of crime occurrences with a focus on the accuracy and ethical implications of predictive modeling. Based on our research comparing the LSTM and Random Forest models, we found that the LSTM model provided more accurate predictions for the type of crime based off the location. </p>
{% endblock %}
