{% extends "base.html" %}

{% block title %}About - Chicago Crime Prediction{% endblock %}

{% block content %}
<h1>About the Project</h1>
<p>This application, part of a broader research initiative, predicts crime in Chicago based on user location. Developed as a component of a project for the altREU program, it aims to explore and compare the effectiveness of different predictive models in crime forecasting.</p>

<h2>Team Members</h2>
<p>We are four college students from the University of Illinois at Urbana-Champaign, working under the guidance of the teuscher-lab during the summer of 2024:</p>
<ul>
    <li>Celina Anwar - Majoring in Computer Science</li>
    <li>Sonika Tamilarasan - Majoring in Computer Science and Economics</li>
    <li>Sahana Hariharan - Majoring in Computer Science and Statistics</li>
    <li>Sumaiya Farook - Majoring in Computer Science and Crop Science</li>
</ul>

<h2>Research Focus</h2>
<p>Our research primarily focuses on the application of two advanced predictive models—Random Forest and Long Short-Term Memory (LSTM) models—to assess and compare their probability accuracies in predicting crime locations. This project not only helps in understanding the dynamic nature of crime but also in evaluating the potential of different machine learning techniques in real-world applications.</p>

{% endblock %}
