<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Crime Map{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">ChiCrimeStats</a>
        <div class="navbar-nav">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
            <a class="nav-link" href="{{ url_for('heatmap') }}">Heatmap</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
